* { margin: 0; padding: 0}
body {
  

  background-color: var(--page-color);
 border: 3px solid red;
}

dt,h2 {
  font-family: "Macondo", cursive;
}
.navigation {
  font-size: 1.5rem;
 
}

#box{
  background-color: var(--textbox-color--);
  border-radius: 1em;
  flex:1;
  border: 0.2em solid black;

}
.connections {
  display: grid;
  max-width: 40rem;
  gap: 1em;
  padding: 2em;
  justify-items: center;
  text-align: center;
  border: 2px solid red;
  
}
.connections a{
  color: var(--first--page-links);
}
.coding {
  display: flex;
  flex-direction: column;
  max-width:58rem;
  margin: 1em;
  padding: 1em;
  
}
.coding b{
  font-size: 1.2rem;
}
.aboutme {
  display: flex;
  flex-direction: column;
  min-width: 50em;
  margin: 1em;
  padding: 1em;

}
.aboutme li{
  margin: 1rem;
}
#image {
  padding: 1.5rem;
  border-radius: 3rem;
  width: 100%;
  max-width: 22em;
  height: auto;
}
#main_title {
  font-family: "Rubik Doodle Shadow", system-ui;
  font-size: 3em;
}
.top{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:var(--navbar-color--);
  gap: 5rem;
  max-height: 15rem;
}
.top a,h1{
  color: var(--title-color--);
}
#img_description {
  background-color: var(--second-page-section--);
  border-radius: 1em;
  border: 0.1em solid black;
  margin: 1em;
  width: 75em;
}
#pic_title {
  padding: 1em;
}
.subpage li,
.subpage p,
.subpage ul  {
  margin: 1em;
  color: var(--second-page-text--);
  font-size: 1.1rem;
  font-weight: bold;
  font-style: italic;
}
.firstpage dd,p,li{ 
  color: var(--first-page-text--);
  font-family: "Merriweather", serif;
  font-size: 1.1rem;
}
.pic_boxes{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  justify-content: center;
  align-items: center;
}
.information{
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(5rem, 1fr));
  justify-items: left;

}

/* .pic-connections {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));

}
.pic-connections {
  width: 10rem;
} */