:root{
    --page-color:#aa998f;
    --textbox-color--:#FEEBD7;
    --navbar-color--: #723d46 ;
    --title-color--: beige;
    --second-page-section--:#ADADAD;
    --second-page-text--:#55251d;
    --first-page-text--:#925c5c;
    --first--page-links: red;
}